doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | TravelCast
    link(rel='stylesheet', href='style.css')
    script.
      const GOOGLE_PLACES_API_KEY = '#{process.env.GOOGLE_PLACES_API_KEY}';
      const OPENWEATHERMAP_API_KEY = '#{process.env.OPENWEATHERMAP_API_KEY}';
  body
    header
      h1.banner 
        a(href='/')
          span.TravelCast TravelCast
    main
      section#intro-container
        div#introhead-container
          p.p1 Traveling to your favorite destination just got easier!
          h1.introhead TravelCast
          p.p2  Unveil Your Dream Destination & Forecast the Weather in One Magical Quest!
        div#intromap-container
          div#intromapCont
            img(src='/images/toronto_map.jpg' alt='A google map view of Toronto')
      section#img-container
        div#imgCont
          img(src='/images/collage.png', alt="Collage of 6 different images consists of images of park, beach, town, cafe, landmark and mall")
      section#guide-continer 
        h2.guidehead Unveil wonders nearby! Choose a city or map your way to find enchanting attractions.
      section#flex-container
        div#search-container
          p#search-label Search a City:
          input#search(type='text', placeholder='Enter a City')
          div#results-container
            ul#results
          h3.result-container Nearby Tourist Attractions
          div#places-list-container
            ul#places-list
        div#map-container
          div#mapCont
            #map
            h3.instruction *Chase the thrill of discovery: Red markers unlock place details, while the Blue Marker is you.
    footer
      p © Copyright | TravelCast | Prabhjot Singh Sains | 2023.
  script(src='script.js')