doctype html
html
  head
    title Tourist App
  body
    h1 Tourist App
    label(for='search') Search for a location:
    input#search(type='text', placeholder='Enter a location')
    ul#results
    #map(style='height: 400px;')
    script(src='script.js')